OPENAI_API_KEY=
GEMINI_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BETTERX_DB_PASSWORD=
BETTERX_MCP_USER_ID=
BETTERX_AI_PORT=3005
BETTERX_MEDIA_PORT=3006
BETTERX_NOTIFICATION_PORT=3007
BETTERX_ENGAGEMENT_PORT=3008
BETTERX_CONTENT_PORT=3009
BETTERX_IDENTITY_PORT=3010
BETTERX_RECOMMENDATION_PORT=3011
BETTERX_PGVECTOR_PASSWORD=
BETTERX_RABBITMQ_USER=
BETTERX_RABBITMQ_PASSWORD=
